$light-font: #dfdef1;
$dark-light: #212130;
$dark-ultra-light: #2e2e42;
$dark: #171622;
$dark-purple: #3c2e67;
$light-purple: #7a4de8;
$light-dark-purple: #6b46c8;
$ultra-light-purple: #8255ea;
$white: #ffffff;
$gray: #969ba0;

$photo-size-max: 200px;
$photo-size: 60px;
$br-bg: 35px;
$br-md: 25px;
$br-sm: 15px;
